* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Quicksand", sans-serif;
    color: #324e63;
  }
  
  .wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    background: linear-gradient(28deg, rgb(2, 0, 36) 0%, rgb(51, 114, 190) 0%, rgb(94, 8, 112) 0%, rgb(90, 7, 101) 12%, rgb(105, 9, 121) 38%, rgb(90, 38, 140) 47%, rgb(75, 68, 160) 56%, rgb(65, 88, 173) 62%, rgb(0, 212, 255) 100%);
  }
  
  .profile-card {
    width: 100%;
    min-height: 400px;
    max-width: 500px;
    background: white;
    margin: auto;
    box-shadow: 0px 8px 60px -10px rgba(13, 28, 39, 0.6);
    border-radius: 12px;
  }
  
  .profile-card-img {
    width: 150px;
    height: 150px;
    margin: auto;
    transform: translateY(-50%);
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    z-index: 4;
    box-shadow: 0px 5px 50px 0px rgb(108, 68, 252), 0px 0px 0px 7px rgba(107, 74, 255, 0.5);
  }
  
  .profile-card-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 50%;
  }
  
  .profile-card-info {
    text-align: center;
  }
  
  .profile-card-info > * {
    margin-bottom: 15px;
    font-weight: 700;
  }
  
  .profile-card-info .name {
    color: rgb(108, 68, 252);
    font-size: 20px;
  }
  
  .profile-card-social {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .profile-card-social .item {
    display: inline-flex;
    width: 55px;
    height: 55px;
    margin: 15px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: relative;
    font-size: 21px;
    flex-shrink: 0;
    transition: all 0.3s;
  }
  
  .profile-card-social .item:hover {
    transform: scale(1.2);
  }
  
  .facebook {
    background: linear-gradient(45deg, #3b5998, #0078d7);
    box-shadow: 0px 4px 30px rgba(43, 98, 169, 0.5);
  }
  
  .twitter {
    background: linear-gradient(45deg, #1da1f2, #0e71c8);
    box-shadow: 0px 4px 30px rgba(19, 127, 212, 0.7);
  }
  
  .instagram {
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    box-shadow: 0px 4px 30px rgba(120, 64, 190, 0.6);
  }
  
  .github {
    background: linear-gradient(45deg, #333333, #626b73);
    box-shadow: 0px 4px 30px rgba(63, 65, 67, 0.6);
  }
  
  .website {
    background: linear-gradient(45deg, #d5135a, #f05924);
    box-shadow: 0px 4px 30px rgba(223, 45, 70, 0.6);
  }
  div.container
  {
      font-family: Raleway;
      margin: 0 auto;
      padding: 10em 3em;
      text-align: center;
  }
  
  div.container a
  {
      color: #FFF;
      text-decoration: none;
      font: 20px Raleway;
      margin: 0px 10px;
      padding: 10px 10px;
      position: relative;
      z-index: 0;
      cursor: pointer;
  }
  /* Top and Bottom borders come in */
  div.topBotomBordersIn a:before, div.topBotomBordersIn a:after
  {
      position: absolute;
      left: 0px;
      width: 100%;
      height: 2px;
      background: #FFF;
      content: "";
      opacity: 0;
      transition: all 0.3s;
  }
  
  div.topBotomBordersIn a:before
  {
      top: 0px;
      transform: translateY(-10px);
  }
  
  div.topBotomBordersIn a:after
  {
      bottom: 0px;
      transform: translateY(10px);
  }
  
  div.topBotomBordersIn a:hover:before, div.topBotomBordersIn a:hover:after
  {
      opacity: 1;
      transform: translateY(0px);
  }
  /* customizable snowflake styling */
  .snowflake {
    color: #fff;
    font-size: 1em;
    font-family: Arial;
    text-shadow: 0 0 1px #000;
  }
  
  @-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%{-webkit-transform:translateX(0px);transform:translateX(0px)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}
  
  #television {
    max-width: 1024px;
    margin: auto;
  }
  
  #monitor {
      background: #000; 
      position: relative;
      border-top: 3px solid #888; 
      margin: 5%;
      padding: 2% 2% 4% 2%; 
      border-radius: 10px; 
      border-bottom-left-radius: 50% 2%; 
      border-bottom-right-radius: 50% 2%; 
      transition: margin-right 1s;
  }
  
  #monitor:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 3%;
      left: 36%;
      height: .5%; 
      width: 28%;
      background: #ddd; 
      border-radius: 50%; 
      box-shadow: 0 0 3px 0 white; 
  }
  
  #monitorscreen {
    background-color: #777;
      background-size: cover; 
      background-position: top center;
      height: 0; 
      padding-bottom: 56.25%; 
      position: relative;
      overflow: hidden;
  }
  @keyframes scrollText {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-50%);
    }
  }
  #monitorscreen #info {
    padding-top: 20px;
    color: white;
    float: left;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    width: 553px;
    max-width: 553px;
  }
  .animate-charcter
  {
     text-transform: uppercase;
    background-image: linear-gradient(
      -225deg,
      #231557 0%,
      #44107a 29%,
      #ff1361 67%,
      #fff800 100%
    );
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 25px;
  }
  
  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }
  
  @media all and (min-width: 960px) {
      #monitor {
          -webkit-animation: tvflicker .2s infinite alternate; 
          -moz-animation:    tvflicker .5s infinite alternate; 
          -o-animation:      tvflicker .5s infinite alternate; 
          animation:         tvflicker .5s infinite alternate; 
      }
  
      @-webkit-keyframes tvflicker {
        0%   { box-shadow: 0 0 100px 0 rgba(200,235,255,0.4); }
        100% { box-shadow: 0 0 95px 0 rgba(200,230,255,0.45); }
      }
      @-moz-keyframes tvflicker {
        0%   { box-shadow: 0 0 100px 0 rgba(225,235,255,0.4); }
        100% { box-shadow: 0 0 60px 0 rgba(200,220,255,0.6); }
      }
      @-o-keyframes tvflicker {
        0%   { box-shadow: 0 0 100px 0 rgba(225,235,255,0.4); }
        100% { box-shadow: 0 0 60px 0 rgba(200,220,255,0.6); }
      }
      @keyframes tvflicker {
        0%   { box-shadow: 0 0 100px 0 rgba(225,235,255,0.4); }
        100% { box-shadow: 0 0 60px 0 rgba(200,220,255,0.6); }
      }
  }
  @import url('https://fonts.googleapis.com/css?family=Baloo+Thambi');
  
  .position > span {
    text-transform: uppercase;
    animation: glow 2s ease-in-out infinite;
  }
  
  @keyframes glow {
    0%, 100% {
      color: #FFF;
      text-shadow: 0 0 10px #0652DD, 0 0 50px #0652DD, 0 0 100px #0652DD;
    }
    
    10%, 90% {
      color: #111;
      text-shadow: none;
    }
  }
  .position > span {
    text-transform: uppercase;
    animation: glow 2s ease-in-out infinite;
    color: #111;
    font-family: 'Baloo Thambi', cursive;
    font-size: 20px;
  }
  
  @keyframes glow {
    0%, 100% {
      color: #FFF;
      text-shadow: 0 0 10px #0652DD, 0 0 50px #0652DD, 0 0 100px #0652DD;
    }
    
    10%, 90% {
      color: #111;
      text-shadow: none;
    }
  }
  .position > span:nth-child(2) {
      animation-delay: 0.25s;
  }
  
  .position > span:nth-child(3) {
      animation-delay: 0.5s;
  }
  
  .position > span:nth-child(4) {
      animation-delay: 0.75s;
  }
  
  .position > span:nth-child(5) {
      animation-delay: 1s;
  }
  
  .position > span:nth-child(6) {
      animation-delay: 1.25s;
  }
  
  .position > span:nth-child(7) {
      animation-delay: 1.5s;
  }
  
  .position > span:nth-child(8) {
      animation-delay: 1.75s;
  }
  
  .position > span:nth-child(9) {
      animation-delay: 2s;
  }
  
  .position > span:nth-child(10) {
      animation-delay: 2.25s;
  }
  
  .position > span:nth-child(11) {
      animation-delay: 2.5s;
  }
  
  .position > span:nth-child(12) {
      animation-delay: 2.75s;
  }
  
  .position > span:nth-child(13) {
      animation-delay: 3s;
  }
  
  .position > span:nth-child(14) {
      animation-delay: 3.25s;
  }
  
  .position > span:nth-child(15) {
      animation-delay: 3.5s;
  }
  audio::-webkit-media-controls-panel {
    background-color: coral;
  }
  .audio{
    height: 30px;
    width: 550px;
  }
  
  
  
  